<div id="nav"><a href="/"><img src="https://image.flaticon.com/icons/svg/25/25694.svg" alt="" width="40" height="40"></a></div>

<div class="main">
    <h1>Submit a book</h1>
    
    <form action="/books/create" method="POST">
      
        <label for="title-input">Title:</label>
        <input type="text" name="title" id="title-input" required />

        <label for="author-input">Author:</label>
        <input type="text" name="author" id="author-input" />
        
        <label for="description-input">Description:</label>
        <textarea name="description" id="description-input" cols="52" rows="4"> </textarea>

        <label for="coverImg-input">Cover Image:</label>
        <input type="text" name="coverImg" id="coverImg-input" />

        <label for="year-input">Year:</label>
        <input type="number" name="year" id="year-input" />

        <label for="rate-input">Rate:</label>
        <input type="number" name="rating" id="rate-input" min="1" max="10" />

        <button type="submit">Save</button>
        
    </form>
</div>