<div class="main">
    <h1>Submit a book</h1>
    <form action="/books/create" method="POST">
        <label for="title-input">Title:</label><input id="title-input" type="text" name="title" />
        <label for="author-input">Author:</label><input id="author-input" type="text" name="author" />
        <button type="submit">Save</button>
    </form>
</div>